In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('resources/online_sales_data.csv')
df.head()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [3]:
# check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    240 non-null    int64
 1   Date              240 non-null    object
 2   Product Category  240 non-null    object
 3   Product Name      240 non-null    object
 4   Units Sold        240 non-null    int64
 5   Unit Price        240 non-null    float64
 6   Total Revenue     240 non-null    float64
 7   Region            240 non-null    object
 8   Payment Method    240 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 17.0+ KB

In [4]:
df['Product Category'].value_counts()

Product Category
Electronics        40
Home Appliances    40
Clothing           40
Books              40
Beauty Products    40
Sports             40
Name: count, dtype: int64

In [5]:
df['Product Name'].value_counts()

Product Name
Dyson Supersonic Hair Dryer                         2
The Girl with the Dragon Tattoo by Stieg Larsson    2
Keurig K-Elite Coffee Maker                         2
The Silent Patient by Alex Michaelides              2
Dune by Frank Herbert                               2
                                                   ..
LG OLED TV                                          1
Uniqlo Ultra Light Down Jacket                      1
Sunday Riley Good Genes                             1
On Running Cloud Shoes                              1
Yeti Rambler 20 oz Tumbler                          1
Name: count, Length: 232, dtype: int64

In [6]:
df['Unit Price'].value_counts()

Unit Price
49.99     9
299.99    8
399.99    7
29.99     7
199.99    7
         ..
68.00     1
13.99     1
100.00    1
16.00     1
55.00     1
Name: count, Length: 117, dtype: int64

In [7]:
df['Region'].value_counts()

Region
North America    80
Europe           80
Asia             80
Name: count, dtype: int64

In [8]:
df['Payment Method'].value_counts()

Payment Method
Credit Card    120
PayPal          80
Debit Card      40
Name: count, dtype: int64

In [9]:
df['Date'].value_counts()

Date
2024-01-01    1
2024-01-02    1
2024-06-01    1
2024-06-02    1
2024-06-03    1
             ..
2024-03-25    1
2024-03-26    1
2024-03-27    1
2024-03-28    1
2024-08-27    1
Name: count, Length: 240, dtype: int64

In [15]:
# test splitting of date
print(df['Date'].str.split('-'))
print(df['Date'].str.split('-')[239][1])

0      [2024, 01, 01]
1      [2024, 01, 02]
2      [2024, 01, 03]
3      [2024, 01, 04]
4      [2024, 01, 05]
            ...
235    [2024, 08, 23]
236    [2024, 08, 24]
237    [2024, 08, 25]
238    [2024, 08, 26]
239    [2024, 08, 27]
Name: Date, Length: 240, dtype: object
08

In [18]:
# get column names to rearrange
df.columns

Index(['Transaction ID', 'Date', 'Product Category', 'Product Name',
       'Units Sold', 'Unit Price', 'Total Revenue', 'Region', 'Payment Method',
       'Month'],
      dtype='object')

In [21]:
# extract month into a new category
df['Month'] = df['Date'].str.split('-', expand=True)[1]

df = df[['Transaction ID', 'Date', 'Month', 'Product Category', 'Product Name',
       'Units Sold', 'Unit Price', 'Total Revenue', 'Region', 'Payment Method']]

df.head()

,Transaction ID,Date,Month,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,01,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,01,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,01,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,01,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [22]:
df['Month'].value_counts()

Month
01    31
03    31
05    31
07    31
04    30
06    30
02    29
08    27
Name: count, dtype: int64

In [23]:
# export transformed df to csv
df.to_csv('resources/sales_data_final.csv', index=False, header=True)