In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
df = pd.read_csv('resources/sales_data_final.csv')
df.head()

,Transaction ID,Date,Month,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,1,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,1,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,1,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,1,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,1,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [19]:
# calculate average unit price for each product category and round to 2 decimal places
avg_unit_price_category = df.groupby(by=['Product Category'])['Unit Price'].mean().sort_values(ascending=False).round(decimals=2)

avg_unit_price_category

Product Category
Electronics        691.59
Home Appliances    320.19
Sports             261.28
Clothing            67.54
Beauty Products     61.62
Books               16.15
Name: Unit Price, dtype: float64