In [1]:
import pandas as pd
import plotly.express as px
from plotly import graph_objects as go

## Connect to Snowflake

In [2]:
import snowflake.connector
from snowflake_credentials import snowflake_params

conn = snowflake.connector.connect(
    user=snowflake_params['user'],
    password=snowflake_params['password'],
    account=snowflake_params['account'],
    warehouse=snowflake_params['warehouse'],
    database=snowflake_params['database'],
    schema=snowflake_params['schema'],
    role=snowflake_params['role']
)

cur = conn.cursor()

## Table Data Preview

### Yelp Businesses Table

In [11]:
businesses_count = cur.execute('''
                               SELECT COUNT(*)
                               FROM yelp_businesses
                               ''').fetch_pandas_all()

print(f'There are {businesses_count['COUNT(*)'][0]:,} records in the Yelp businesses table.')

df = cur.execute('''
                 SELECT *
                 FROM yelp_businesses 
                 LIMIT 5
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 1: Yelp Businesses Table Preview</span>').set_table_styles(styles))

There are 150,346 records in the Yelp businesses table.

### Yelp Reviews Table

In [15]:
reviews_count = cur.execute('''
                               SELECT COUNT(*)
                               FROM yelp_reviews
                               ''').fetch_pandas_all()

print(f'There are {reviews_count['COUNT(*)'][0]:,} records in the Yelp reviews table.')

df = cur.execute('''
                 SELECT *
                 FROM yelp_reviews 
                 LIMIT 1
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 2: Yelp Reviews Table Preview</span>').set_table_styles(styles))

There are 6,990,280 records in the Yelp reviews table.

### Yelp Users Table

In [16]:
users_count = cur.execute('''
                               SELECT COUNT(*)
                               FROM yelp_users
                               ''').fetch_pandas_all()

print(f'There are {users_count['COUNT(*)'][0]:,} records in the Yelp users table.')

df = cur.execute('''
                 SELECT *
                 FROM yelp_users 
                 LIMIT 5
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 3: Yelp Users Table Preview</span>').set_table_styles(styles))

There are 1,987,897 records in the Yelp users table.

### Yelp Tips Table

In [17]:
tips_count = cur.execute('''
                               SELECT COUNT(*)
                               FROM yelp_tips
                               ''').fetch_pandas_all()

print(f'There are {tips_count['COUNT(*)'][0]:,} records in the Yelp tips table.')

df = cur.execute('''
                 SELECT *
                 FROM yelp_tips 
                 LIMIT 5
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 4: Yelp Tips Table Preview</span>').set_table_styles(styles))

There are 908,915 records in the Yelp tips table.

## Category-Level Analysis

### Count of Categories

In [18]:
# Count of categories in Yelp dataset
df = cur.execute('''
                 WITH cat_count AS (
                    -- split the categories column so each business has a row for each category it has
                    SELECT 
                        TRIM(A.value) AS category
                    FROM yelp_businesses,
                    LATERAL SPLIT_TO_TABLE(categories, ',') A
                )

                SELECT COUNT(DISTINCT category) AS num_of_categories
                FROM cat_count;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 5: Count of Categories</span>').set_table_styles(styles))

### Top 20 Categories by Number of Businesses

In [19]:
# Top 20 categories of all businesses on Yelp.
df = cur.execute('''
                 WITH cat AS (
                    -- split the categories column so each business has a row for each category it has
                    SELECT business_id, stars,
                    TRIM(A.value) AS category
                    FROM yelp_businesses,
                    LATERAL SPLIT_TO_TABLE(categories, ',') A
                )

                SELECT category, COUNT(DISTINCT business_id) AS num_of_businesses, ROUND(AVG(stars), 2) AS avg_rating
                FROM cat
                GROUP BY 1
                ORDER BY 2 DESC
                LIMIT 20;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 6: Top 20 Categories by Business Count</span>').set_table_styles(styles))

### Top 20 Categories by Number of Reviews

In [20]:
# Top 20 categories by number of reviews
df = cur.execute('''
                 WITH cat AS (
                    -- split the categories column so each business has a row for each category it has
                    SELECT business_id, stars, review_count,
                    TRIM(A.value) AS category
                    FROM yelp_businesses,
                    LATERAL SPLIT_TO_TABLE(categories, ',') A
                )

                SELECT category, SUM(review_count) AS num_of_reviews, COUNT(DISTINCT business_id) AS num_of_businesses, ROUND(AVG(stars), 2) AS avg_rating
                FROM cat
                GROUP BY 1  
                ORDER BY 2 DESC
                LIMIT 20;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 7: Top 20 Categories by Review Volume</span>').set_table_styles(styles))

### Top 20 Categories by Average Star Rating (Min 1000 Reviews)

In [22]:
# Top 20 categories by average star rating (minimum 1000 reviews)
df = cur.execute('''
                 WITH cat AS (
                    -- split the categories column so each business has a row for each category it has
                    SELECT business_id, stars, review_count,
                    TRIM(A.value) AS category
                    FROM yelp_businesses,
                    LATERAL SPLIT_TO_TABLE(categories, ',') A
                )

                SELECT category, SUM(review_count) AS num_of_reviews, COUNT(DISTINCT business_id) AS num_of_businesses, ROUND(AVG(stars), 2) AS avg_rating
                FROM cat
                GROUP BY 1  
                HAVING SUM(review_count) >= 1000
                ORDER BY 4 DESC
                LIMIT 20;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 8: Top 20 Categories by Average Rating (Min 1000 Reviews)</span>').set_table_styles(styles))

### Bottom 20 Categories by Average Star Rating (Min 1000 Reviews)

In [23]:
# Bottom 20 categories by average star rating (minimum 1000 reviews)
df = cur.execute('''
                 WITH cat AS (
                    -- split the categories column so each business has a row for each category it has
                    SELECT business_id, stars, review_count,
                    TRIM(A.value) AS category
                    FROM yelp_businesses,
                    LATERAL SPLIT_TO_TABLE(categories, ',') A
                )

                SELECT category, SUM(review_count) AS num_of_reviews, COUNT(DISTINCT business_id) AS num_of_businesses, ROUND(AVG(stars), 2) AS avg_rating
                FROM cat
                GROUP BY 1  
                HAVING SUM(review_count) >= 1000
                ORDER BY 4
                LIMIT 20;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 9: Bottom 20 Categories by Average Rating (Min 1000 Reviews)</span>').set_table_styles(styles))

### Overrated Categories

In [24]:
# Categories with high stars and low engagement
df = cur.execute('''
                 WITH cat AS (
                    -- split the categories column so each business has a row for each category it has
                    SELECT business_id, stars, review_count,
                    TRIM(A.value) AS category
                    FROM yelp_businesses,
                    LATERAL SPLIT_TO_TABLE(categories, ',') A
                )

                SELECT category, SUM(review_count) AS num_of_reviews, COUNT(DISTINCT business_id) AS num_of_businesses, ROUND(AVG(stars), 2) AS avg_rating
                FROM cat
                GROUP BY 1  
                ORDER BY 4 DESC, 2
                LIMIT 20;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 10: Categories with High Average Rating and Low Review Volume</span>').set_table_styles(styles))

## Rating Distribution Overview

### Total Review Volume for Each Star Rating

In [26]:
# Count of reviews for each star value 1-5
df = cur.execute('''
                 SELECT '1 Star' AS review_rating, COUNT(review_id) AS num_reviews FROM yelp_reviews WHERE stars = 1
                 UNION
                 SELECT '2 Star' AS review_rating, COUNT(review_id) AS num_reviews FROM yelp_reviews WHERE stars = 2
                 UNION
                 SELECT '3 Star' AS review_rating, COUNT(review_id) AS num_reviews FROM yelp_reviews WHERE stars = 3
                 UNION
                 SELECT '4 Star' AS review_rating, COUNT(review_id) AS num_reviews FROM yelp_reviews WHERE stars = 4
                 UNION
                 SELECT '5 Star' AS review_rating, COUNT(review_id) AS num_reviews FROM yelp_reviews WHERE stars = 5
                 ORDER BY 1;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 11: Review Volume by Star Rating</span>').set_table_styles(styles))

### Counts of Each Star Rating per Business

In [28]:
# Count of reviews with each star value by business
df = cur.execute('''
                 SELECT 
                    business_id, 
                    SUM(CASE WHEN stars=1 THEN 1 ELSE 0 END) AS one_star_reviews,
                    SUM(CASE WHEN stars=2 THEN 1 ELSE 0 END) AS two_star_reviews,
                    SUM(CASE WHEN stars=3 THEN 1 ELSE 0 END) AS three_star_reviews,
                    SUM(CASE WHEN stars=4 THEN 1 ELSE 0 END) AS four_star_reviews,
                    SUM(CASE WHEN stars=5 THEN 1 ELSE 0 END) AS five_star_reviews,
                    COUNT(*) AS total_reviews,
                    SUM(stars) AS total_stars
                 FROM yelp_reviews
                 GROUP BY 1
                 LIMIT 10;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 12: Star Rating Breakdown by Business</span>').set_table_styles(styles))

### "True" Average Star Rating & Percent of 1 & 5 Star Reviews

In [29]:
# True star average for each business and percentage of five star and one star reviews to total reviews
df = cur.execute('''
                WITH cte AS (
                    SELECT 
                        business_id, 
                        SUM(CASE WHEN stars=1 THEN 1 ELSE 0 END) AS one_star_reviews,
                        SUM(CASE WHEN stars=2 THEN 1 ELSE 0 END) AS two_star_reviews,
                        SUM(CASE WHEN stars=3 THEN 1 ELSE 0 END) AS three_star_reviews,
                        SUM(CASE WHEN stars=4 THEN 1 ELSE 0 END) AS four_star_reviews,
                        SUM(CASE WHEN stars=5 THEN 1 ELSE 0 END) AS five_star_reviews,
                        COUNT(*) AS total_reviews,
                        SUM(stars) AS total_stars,
                        ROUND(AVG(stars), 2) AS true_avg_rating
                    FROM yelp_reviews
                    GROUP BY 1
                 )

                SELECT 
                    yb.name, yb.city, yb.state, total_reviews, total_stars,
                    true_avg_rating,
                    yb.stars AS rounded_avg_rating,
                    ROUND(five_star_reviews / total_reviews * 100, 2) AS five_star_pct,
                    ROUND(one_star_reviews / total_reviews * 100, 2) AS one_star_pct,
                FROM cte
                JOIN yelp_businesses yb
                    ON cte.business_id = yb.business_id
                LIMIT 20;
                ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 13: "True" Average Star Rating & Percentage of 1 & 5 Star Reviews</span>').set_table_styles(styles))

## Time Series of Review Volume & Star Metrics

### Monthly Review Volume & Star Metrics

In [30]:
# Months with the highest total reviews and highest average star rating
df = cur.execute('''
                SELECT 
                    MONTH(review_date) AS month,
                    SUM(CASE WHEN stars=1 THEN 1 ELSE 0 END) AS one_star_reviews,
                    SUM(CASE WHEN stars=2 THEN 1 ELSE 0 END) AS two_star_reviews,
                    SUM(CASE WHEN stars=3 THEN 1 ELSE 0 END) AS three_star_reviews,
                    SUM(CASE WHEN stars=4 THEN 1 ELSE 0 END) AS four_star_reviews,
                    SUM(CASE WHEN stars=5 THEN 1 ELSE 0 END) AS five_star_reviews,
                    COUNT(*) AS total_reviews,
                    SUM(stars) AS total_stars,
                    ROUND(AVG(stars), 2) avg_rating
                FROM yelp_reviews
                GROUP BY 1
                ORDER BY 1;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 14: Monthly Review Volume & Star Metrics</span>').set_table_styles(styles))

# Rename columns for readability in charts
df.rename(columns={'ONE_STAR_REVIEWS': '1 Star', 'TWO_STAR_REVIEWS': '2 Star', 'THREE_STAR_REVIEWS': '3 Star', 'FOUR_STAR_REVIEWS': '4 Star', 'FIVE_STAR_REVIEWS': '5 Star', 'TOTAL_REVIEWS': 'Total Reviews',
                   'AVG_RATING': 'Average Rating'}, inplace=True)

# Generate line chart for review count for each star value by month
fig = px.line(
    df,
    x='MONTH',
    y=[
        '1 Star',
        '2 Star',
        '3 Star',
        '4 Star',
        '5 Star'
    ],
    labels={
        'value': 'Review Count',
        'variable': 'Star Rating',
        'MONTH': 'Month'
    },
    title='Figure 1: Monthly Yelp Review Star Ratings Trends'
)
fig.show()

# Generate bar chart for monthly review volume by month
fig = px.bar(
    df, 
    x='MONTH', 
    y='Total Reviews', 
    color='Total Reviews', 
    labels={'MONTH': 'Month', 'Total Reviews': 'Review Count'}, 
    title='Figure 2: Monthly Yelp Review Volume Trends'
)
fig.show()

### Monthly Review Volume & Star Metrics by Year

In [32]:
# Total reviews by each star amount and the average star review for each month in every year
df = cur.execute('''
                SELECT 
                    YEAR(review_date) AS year,
                    MONTH(review_date) AS month,
                    SUM(CASE WHEN stars=1 THEN 1 ELSE 0 END) AS one_star_reviews,
                    SUM(CASE WHEN stars=2 THEN 1 ELSE 0 END) AS two_star_reviews,
                    SUM(CASE WHEN stars=3 THEN 1 ELSE 0 END) AS three_star_reviews,
                    SUM(CASE WHEN stars=4 THEN 1 ELSE 0 END) AS four_star_reviews,
                    SUM(CASE WHEN stars=5 THEN 1 ELSE 0 END) AS five_star_reviews,
                    COUNT(*) AS total_reviews,
                    SUM(stars) AS total_stars,
                    ROUND(AVG(stars), 2) avg_rating
                FROM yelp_reviews
                GROUP BY 1, 2
                ORDER BY 1, 2;
                 ''').fetch_pandas_all()

df_preview = pd.concat([df.head(5), df.tail(5)])

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df_preview.style.set_caption('<span style="font-size: 20px;">Table 15: Monthly Review Volume & Star Metrics by Year</span>').set_table_styles(styles))

# Rename columns for readability in charts
df.rename(columns={'ONE_STAR_REVIEWS': '1 Star', 'TWO_STAR_REVIEWS': '2 Star', 'THREE_STAR_REVIEWS': '3 Star', 'FOUR_STAR_REVIEWS': '4 Star', 'FIVE_STAR_REVIEWS': '5 Star', 'TOTAL_REVIEWS': 'Total Reviews',
                   'AVG_RATING': 'Average Rating'}, inplace=True)

# Create a date column from year and month
df['date'] = df['MONTH'].astype(str).str.zfill(2) + '/' + df['YEAR'].astype(str)

# Melt into long format for counts of reviews with each star value
long_df = df.melt(
    id_vars=['date'],
    value_vars=['1 Star','2 Star','3 Star','4 Star','5 Star'],
    var_name='star',
    value_name='count'
)

# Plot time series of star value counts by year and month
fig = px.line(
    long_df,
    x='date',
    y='count',
    color='star',
    labels={
        'date':'Month-Year',
        'count':'Review Count',
        'star':'Star Rating'
    },
    title='Figure 3: Monthly Yelp Star Rating Counts by Year'
)
fig.show()

# Melt into long format for total review counts for each month
long_df = df.melt(
    id_vars=['date'],
    value_vars=['Total Reviews'],
    var_name='reviews',
    value_name='count'
)

# Plot time series of total reviews by year and month
fig = px.line(
    long_df, 
    x='date', 
    y='count', 
    labels={
        'date': 'Month-Year',
        'count': 'Review Count'
        }, 
    title='Figure 4: Monthly Yelp Review Volume by Year'
)
fig.show()

# Melt into long format for average star rating for each month
long_df = df.melt(
    id_vars=['date'],
    value_vars=['Average Rating'],
    var_name='avg_rating',
    value_name='count'
)

# Plot time series of average star rating by year and month
fig = px.line(
    long_df, 
    x='date', 
    y='count', 
    labels={
        'date': 'Month-Year',
        'count': 'Average Star Rating'
        }, 
    title='Figure 5: Monthly Average Yelp Star Rating by Year'
)
fig.show()

### Quarterly Review Volume & Star Metrics

In [33]:
# Reviews by quarter
df = cur.execute('''
                SELECT 
                    QUARTER(review_date) AS quarter,
                    SUM(CASE WHEN stars=1 THEN 1 ELSE 0 END) AS one_star_reviews,
                    SUM(CASE WHEN stars=2 THEN 1 ELSE 0 END) AS two_star_reviews,
                    SUM(CASE WHEN stars=3 THEN 1 ELSE 0 END) AS three_star_reviews,
                    SUM(CASE WHEN stars=4 THEN 1 ELSE 0 END) AS four_star_reviews,
                    SUM(CASE WHEN stars=5 THEN 1 ELSE 0 END) AS five_star_reviews,
                    COUNT(*) AS total_reviews,
                    SUM(stars) AS total_stars,
                    ROUND(AVG(stars), 2) avg_rating
                FROM yelp_reviews
                GROUP BY 1
                ORDER BY 1;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 16: Quarterly Review Volume & Star Metrics</span>').set_table_styles(styles))

# Rename columns for readability in charts
df.rename(columns={'ONE_STAR_REVIEWS': '1 Star', 'TWO_STAR_REVIEWS': '2 Star', 'THREE_STAR_REVIEWS': '3 Star', 'FOUR_STAR_REVIEWS': '4 Star', 'FIVE_STAR_REVIEWS': '5 Star', 'TOTAL_REVIEWS': 'Total Reviews',
                   'AVG_RATING': 'Average Rating'}, inplace=True)

# Generate line chart for review count for each star value by quarter
fig = px.line(
    df,
    x='QUARTER',
    y=[
        '1 Star',
        '2 Star',
        '3 Star',
        '4 Star',
        '5 Star'
    ],
    labels={
        'value': 'Review Count',
        'variable': 'Star Rating',
        'QUARTER': 'Quarter'
    },
    title='Figure 6: Quarterly Yelp Review Star Rating Trends'
)
fig.update_xaxes(dtick=1)
fig.show()

# Generate bar chart for monthly review volume by quarter
fig = px.bar(
    df,
    x='QUARTER', 
    y='Total Reviews', 
    color='Total Reviews', 
    labels={'QUARTER': 'Quarter', 'Total Reviews': 'Review Count'},
    title='Figure 7: Quarterly Yelp Review Volume Trends'
)
fig.update_xaxes(dtick=1)
fig.show()

### Quarterly Review Volume & Star Metrics by Year

In [34]:
# Reviews by year and quarter
df = cur.execute('''
                SELECT 
                    YEAR(review_date) AS year,
                    QUARTER(review_date) AS quarter,
                    SUM(CASE WHEN stars=1 THEN 1 ELSE 0 END) AS one_star_reviews,
                    SUM(CASE WHEN stars=2 THEN 1 ELSE 0 END) AS two_star_reviews,
                    SUM(CASE WHEN stars=3 THEN 1 ELSE 0 END) AS three_star_reviews,
                    SUM(CASE WHEN stars=4 THEN 1 ELSE 0 END) AS four_star_reviews,
                    SUM(CASE WHEN stars=5 THEN 1 ELSE 0 END) AS five_star_reviews,
                    COUNT(*) AS total_reviews,
                    SUM(stars) AS total_stars,
                    ROUND(AVG(stars), 2) avg_rating
                FROM yelp_reviews
                GROUP BY 1, 2
                ORDER BY 1, 2;
                 ''').fetch_pandas_all()

df_preview = pd.concat([df.head(), df.tail()])
styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df_preview.style.set_caption('<span style="font-size: 20px;">Table 17: Monthly Review Volume & Star Metrics</span>').set_table_styles(styles))

# Rename columns for readability in charts
df.rename(columns={'ONE_STAR_REVIEWS': '1 Star', 'TWO_STAR_REVIEWS': '2 Star', 'THREE_STAR_REVIEWS': '3 Star', 'FOUR_STAR_REVIEWS': '4 Star', 'FIVE_STAR_REVIEWS': '5 Star', 'TOTAL_REVIEWS': 'Total Reviews',
                   'AVG_RATING': 'Average Rating'}, inplace=True)

# Create a date column from year and quarter
df['date'] = 'Q' + df['QUARTER'].astype(str) + '-' + df['YEAR'].astype(str)

# Melt into long format for counts of reviews with each star value
long_df = df.melt(
    id_vars=['date'],
    value_vars=['1 Star','2 Star','3 Star','4 Star','5 Star'],
    var_name='star',
    value_name='count'
)

# Plot time series of star value counts by year and quarter
fig = px.line(
    long_df,
    x='date',
    y='count',
    color='star',
    labels={
        'date':'Quarter-Year',
        'count':'Review Count',
        'star':'Star Rating'
    },
    title='Figure 8: Quarterly Yelp Star Rating Counts by Year'
)
fig.show()

# Melt into long format for total review counts for each quarter
long_df = df.melt(
    id_vars=['date'],
    value_vars=['Total Reviews'],
    var_name='reviews',
    value_name='count'
)

# Plot time series of total reviews by year and quarter
fig = px.line(
    long_df, 
    x='date', 
    y='count', 
    labels={
        'date': 'Quarter-Year',
        'count': 'Review Count'
        }, 
    title='Figure 9: Quarterly Yelp Review Volume by Year'
)
fig.show()

# Melt into long format for average star rating for each quarter
long_df = df.melt(
    id_vars=['date'],
    value_vars=['Average Rating'],
    var_name='avg_stars',
    value_name='count'
)

# Plot time series of average star rating by year and quarter
fig = px.line(
    long_df, 
    x='date', 
    y='count', 
    labels={
        'date': 'Quarter-Year',
        'count': 'Average Star Rating'
        }, 
    title='Figure 10: Quarterly Average Yelp Star Rating by Year'
)
fig.show()

## Geographic Breakdown

### Number of Business and Average Star Rating by State

In [36]:
# Number of businesses and avg star rating by state
df = cur.execute('''
                SELECT 
                    state,
                    COUNT(DISTINCT yb.business_id) num_businesses,
                    ROUND(AVG(yr.stars), 2) as avg_rating
                FROM yelp_reviews yr
                JOIN yelp_businesses yb
                    ON yr.business_id = yb.business_id
                GROUP BY state
                ORDER BY 2 DESC;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 18: Business Volume by State</span>').set_table_styles(styles))

### Number of Businesses and Average Star Rating by City

In [35]:
# Number of businesses and avg star rating by city
df = cur.execute('''
                SELECT 
                    city,
                    COUNT(DISTINCT yb.business_id) num_businesses,
                    ROUND(AVG(yr.stars), 2) as avg_rating
                FROM yelp_reviews yr
                JOIN yelp_businesses yb
                    ON yr.business_id = yb.business_id
                GROUP BY city
                ORDER BY 2 DESC
                LIMIT 20;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 19: Business Volume by City</span>').set_table_styles(styles))

## Business-Level Insight

### Most Recent Reviews for Each Business

In [38]:
# Most recent reviews for each business
df = cur.execute('''
                WITH cte AS (
                    SELECT 
                        business_id,
                        review_date,
                        user_review,
                        stars,
                        ROW_NUMBER() OVER(PARTITION BY business_id ORDER BY review_date DESC) AS rn
                    FROM yelp_reviews
                )
                SELECT 
                    yb.name,
                    yb.city,
                    yb.state,
                    yb.postal_code,
                    review_date,
                    cte.stars,
                    user_review
                FROM cte
                JOIN yelp_businesses yb
                    ON cte.business_id = yb.business_id
                WHERE rn=1;
                 ''').fetch_pandas_all()

df_preview = pd.concat([df.head(3), df.tail(3)])
styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df_preview.style.set_caption('<span style="font-size: 20px;">Table 20: Most Recent Reviews for Each Business</span>').set_table_styles(styles))

### Most Reviewed Businesses and Their Average Star Rating

In [39]:
# Most reviewed businesses
df = cur.execute('''
                SELECT yb.name, yb.city, yb.state, COUNT(yr.review_id) AS review_count, ROUND(AVG(yr.stars), 2) AS avg_rating
                FROM yelp_reviews yr
                JOIN yelp_businesses yb
                ON yr.business_id = yb.business_id
                GROUP BY yb.name, yb.city, yb.state
                ORDER BY COUNT(yr.review_id) DESC
                LIMIT 20;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 21: Most Reviewed Businesses</span>').set_table_styles(styles))

### Top Businesses by State

In [41]:
# Highest rated businesses for the selected state by average stars and total stars
df = cur.execute('''
                WITH ranked AS (
                SELECT
                    yb.name,
                    yb.state,
                    ROUND(AVG(yr.stars),2) AS avg_rating,
                    COUNT(yr.review_id) AS total_reviews
                FROM yelp_businesses yb
                JOIN yelp_reviews yr
                    ON yb.business_id = yr.business_id
                WHERE yb.state = 'IL'
                GROUP BY 1,2
                )
                SELECT
                    name,
                    state,
                    avg_rating,
                    total_reviews,
                    avg_rating * total_reviews AS total_stars
                FROM ranked
                ORDER BY avg_rating DESC, total_reviews DESC
                LIMIT 20;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 22: Highest Rated Businesses in the Selected State</span>').set_table_styles(styles))

### Top Businesses by City

In [42]:
# Highest rated businesses for the selected city by average stars and total stars
df = cur.execute('''
                WITH ranked AS (
                SELECT
                    yb.name,
                    yb.city,
                    yb.state,
                    ROUND(AVG(yr.stars),2) AS avg_rating,
                    COUNT(yr.review_id) AS total_reviews
                FROM yelp_businesses yb
                JOIN yelp_reviews yr
                    ON yb.business_id = yr.business_id
                WHERE yb.city = 'New Orleans'
                GROUP BY 1, 2, 3
                )
                SELECT
                    name,
                    city,
                    state,
                    avg_rating,
                    total_reviews,
                    avg_rating * total_reviews AS total_stars
                FROM ranked
                ORDER BY avg_rating DESC, total_reviews DESC
                LIMIT 20;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 23: Highest Rated Businesses in the Selected City</span>').set_table_styles(styles))

### Average Star Rating: Closed vs. Open Businesses

In [43]:
# Average rating for closed vs currently operating businesses
df = cur.execute('''
                SELECT 
                    'Open' AS business_status, 
                    ROUND(AVG(yr.stars), 2) as avg_rating
                FROM yelp_businesses yb
                JOIN yelp_reviews yr
                    ON yb.business_id = yr.business_id
                WHERE is_open = 1
                UNION
                SELECT 
                    'Closed',
                    ROUND(AVG(yr.stars), 2) as avg_rating
                FROM yelp_businesses yb
                JOIN yelp_reviews yr
                    ON yb.business_id = yr.business_id
                WHERE is_open = 0;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 24: Average Rating: Closed vs. Open Businesses</span>').set_table_styles(styles))

### Average Star Rating by Category: Closed vs. Open Businesses

In [44]:
# Average rating for closed vs currently operating businesses by category
df = cur.execute('''
                WITH status AS (
                    -- split the categories column so each business has a row for each category it has
                    SELECT 
                        business_id,
                        TRIM(A.value) AS category,
                        CASE
                            WHEN is_open = 1 THEN 'open'
                            ELSE 'closed'
                        END AS business_status
                    FROM yelp_businesses,
                    LATERAL SPLIT_TO_TABLE(categories, ',') A
                )
                SELECT 
                    category,
                    ROUND(AVG(CASE WHEN business_status = 'open' THEN yr.stars END), 2) as avg_open_rating,
                    ROUND(AVG(CASE WHEN business_status = 'closed' THEN yr.stars END), 2) as avg_closed_rating
                FROM status
                JOIN yelp_reviews yr
                    ON status.business_id = yr.business_id
                GROUP BY category;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.head(10).style.set_caption('<span style="font-size: 20px;">Table 25: Average Star Rating by Category: Closed vs. Open Businesses</span>').set_table_styles(styles))

print(df.info())

open_higher = df[df['AVG_OPEN_RATING'] > df['AVG_CLOSED_RATING']].shape[0]
closed_higher = df[df['AVG_OPEN_RATING'] <= df['AVG_CLOSED_RATING']].shape[0]

print(f'Categories with avg_open_RATING greater than avg_closed_rating: {open_higher}\nCategories with avg_open_rating less than or equal to avg_closed_rating: {closed_higher}')

print(f'''
      Out of the 1311 categories with at least one review for both closed and open businesses, there are {open_higher} categories where the average
      star rating for open businesses is greater than closed businesses, and {closed_higher} categories where the average star rating for open 
      businesses is less than or equal to closed businesses.
      ''')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CATEGORY           1311 non-null   object
 1   AVG_OPEN_RATING    1302 non-null   object
 2   AVG_CLOSED_RATING  1048 non-null   object
dtypes: object(3)
memory usage: 30.9+ KB
None
Categories with avg_open_RATING greater than avg_closed_rating: 715
Categories with avg_open_rating less than or equal to avg_closed_rating: 324

      Out of the 1311 categories with at least one review for both closed and open businesses, there are 715 categories where the average
      star rating for open businesses is greater than closed businesses, and 324 categories where the average star rating for open
      businesses is less than or equal to closed businesses.

### Businesses with Lowest Average Star Rating (Min 100 Reviews)

In [45]:
# Businesses with lowest average stars (min 100 reviews)
df = cur.execute('''
                SELECT 
                    name,
                    city,
                    state,
                    COUNT(yr.review_id) AS review_count,
                    ROUND(AVG(yr.stars), 2) AS avg_rating 
                FROM yelp_businesses yb
                JOIN yelp_reviews yr
                    ON yb.business_id = yr.business_id
                GROUP BY name, city, state
                HAVING COUNT(yr.review_id) >= 100
                ORDER BY AVG(yr.stars), COUNT(yr.review_id) DESC
                LIMIT 20;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 26: Lowest Average Rating by Business (Min 100 Reviews)</span>').set_table_styles(styles))

## Business-Specific Deep Dive

### Weekly Review Count & Week-over-Week Change

In [47]:
# Weekly review count and week-to-week change for Reading Terminal Market in Philadelphia, PA
df = cur.execute('''
                WITH weekly_reviews AS (
                    SELECT 
                        DATE_TRUNC('week', review_date) AS wk,
                        COUNT(*) AS reviews_this_week
                    FROM yelp_reviews
                    WHERE business_id = 'ytynqOUb3hjKeJfRj5Tshw'
                    GROUP BY 1
                )
                SELECT 
                    wk AS week,
                    reviews_this_week,
                    reviews_this_week - LAG(reviews_this_week) OVER(ORDER BY wk) AS review_vol_change
                FROM weekly_reviews
                ORDER BY wk;
                 ''').fetch_pandas_all()

df_preview = pd.concat([df.head(), df.tail()])
styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df_preview.style.set_caption('<span style="font-size: 20px;">Table 27: Weekly Review Count & Week-over-Week Change</span>').set_table_styles(styles))

### Rolling Star Rating Average (Last 10 Reviews)

In [48]:
# Rolling average star rating over last 10 reviews
df = cur.execute('''
                SELECT 
                    review_date,
                    stars,
                    ROUND(AVG(stars)
                        OVER(ORDER BY review_date
                        ROWS BETWEEN 9 PRECEDING AND CURRENT ROW), 2) AS last_10_reviews_avg
                FROM yelp_reviews
                WHERE business_id = 'ytynqOUb3hjKeJfRj5Tshw'
                ORDER BY review_date;
                 ''').fetch_pandas_all()

df_preview = pd.concat([df.head(), df.tail()])
styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df_preview.style.set_caption('<span style="font-size: 20px;">Table 28: Rolling Star Rating Average (Last 10 Reviews)</span>').set_table_styles(styles))

### Cumulative Average & Review Sequence

In [49]:
# Cumulative average and review count
df = cur.execute('''
                SELECT 
                    review_date,
                    stars,
                    ROUND(AVG(stars)
                        OVER(ORDER BY review_date
                        ROWS UNBOUNDED PRECEDING), 3) AS cumulative_avg_rating,
                    ROW_NUMBER() OVER(ORDER BY review_date) AS cumulative_review_count
                FROM yelp_reviews
                WHERE business_id = 'ytynqOUb3hjKeJfRj5Tshw'
                ORDER BY review_date;
                 ''').fetch_pandas_all()

df_preview = pd.concat([df.head(), df.tail()])
styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df_preview.style.set_caption('<span style="font-size: 20px;">Table 29: Cumulative Average & Review Count</span>').set_table_styles(styles))

### Monthly Star Rating Distribution by Year

In [50]:
# Star rating distribution by month
df = cur.execute('''
                WITH monthly_stars AS (
                    SELECT 
                        DATE_TRUNC('month', review_date) AS mnth,
                        SUM(CASE WHEN stars = 5 THEN 1 ELSE 0 END) AS five_star_count,
                        SUM(CASE WHEN stars = 4 THEN 1 ELSE 0 END) AS four_star_count,
                        SUM(CASE WHEN stars = 3 THEN 1 ELSE 0 END) AS three_star_count,
                        SUM(CASE WHEN stars = 2 THEN 1 ELSE 0 END) AS two_star_count,
                        SUM(CASE WHEN stars = 1 THEN 1 ELSE 0 END) AS one_star_count,
                        COUNT(*) AS total_reviews
                    FROM yelp_reviews
                    WHERE business_id = 'ytynqOUb3hjKeJfRj5Tshw'
                    GROUP BY 1
                )
                SELECT 
                    mnth as month,
                    total_reviews,
                    ROUND(five_star_count::NUMERIC / total_reviews * 100, 2) AS pct_five_star,
                    ROUND(four_star_count::NUMERIC / total_reviews * 100, 2) AS pct_four_star,
                    ROUND(three_star_count::NUMERIC / total_reviews * 100, 2) AS pct_three_star,
                    ROUND(two_star_count::NUMERIC / total_reviews * 100, 2) AS pct_two_star,
                    ROUND(one_star_count::NUMERIC / total_reviews * 100, 2) AS pct_one_star
                FROM monthly_stars
                ORDER BY mnth;
                 ''').fetch_pandas_all()

df_preview = pd.concat([df.head(), df.tail()])
styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df_preview.style.set_caption('<span style="font-size: 20px;">Table 30: Monthly Star Rating Distribution by Year</span>').set_table_styles(styles))

### Reviewer Bias: Business Rating vs. Reviewer's Overall Average Star Rating

In [51]:
# Difference between reviewer's overall average rating and their rating for the business
df = cur.execute('''
                WITH business_reviews AS (
                    SELECT 
                        user_id,
                        stars AS business_rating
                    FROM yelp_reviews
                    WHERE business_id = 'ytynqOUb3hjKeJfRj5Tshw'
                )
                SELECT 
                    br.user_id,
                    business_rating,
                    yu.avg_stars,
                    business_rating - yu.avg_stars AS rating_diff
                FROM business_reviews br
                JOIN yelp_users yu
                    ON br.user_id = yu.user_id;
                 ''').fetch_pandas_all()

df_preview = pd.concat([df.head(), df.tail()])
styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df_preview.style.set_caption('<span style="font-size: 20px;">Table 31: Reviewer Bias</span>').set_table_styles(styles))

### Time Between Reviews

In [53]:
# Time between reviews in days (can be used to find average days between review for a specified time period)
df = cur.execute('''
                SELECT 
                    review_date,
                    LAG(review_date) OVER(ORDER BY review_date) AS previous_date,
                    review_date - LAG(review_date) OVER(ORDER BY review_date) AS days_since_last_review
                FROM yelp_reviews
                WHERE business_id = 'ytynqOUb3hjKeJfRj5Tshw'
                ORDER BY review_date;
                 ''').fetch_pandas_all()

df_preview = pd.concat([df.head(), df.tail()])
styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df_preview.style.set_caption('<span style="font-size: 20px;">Table 32: Time Between Reviews (Days)</span>').set_table_styles(styles))

## User Engagement Funnel & Top Contributors

### User Engagement Funnel

In [54]:
# Create user engagement funnel
df = cur.execute('''
                SELECT 'Registered Users' AS User_Type, COUNT(*) AS Number_Of_Users, 100 AS Pct_Of_Users
                FROM yelp_users
                UNION
                SELECT 'Reviewers', COUNT(user_id), ROUND(COUNT(user_id) / (SELECT COUNT(*) FROM yelp_users) * 100, 3)
                FROM yelp_users
                WHERE review_count >= 1
                UNION
                SELECT 'Highly Active Reviewers', COUNT(user_id), ROUND(COUNT(user_id) / (SELECT COUNT(*) FROM yelp_users) * 100, 3)
                FROM yelp_users
                WHERE review_count >= (
                SELECT ROUND(AVG(review_count), 2) AS avg_reviews
                FROM yelp_users
                )
                UNION
                SELECT 'Tippers', COUNT(DISTINCT user_id), ROUND(COUNT(DISTINCT user_id) / (SELECT COUNT(*) FROM yelp_users) * 100, 3)
                FROM yelp_tips
                UNION
                SELECT 'Influential Users', COUNT(user_id), ROUND(COUNT(user_id) / (SELECT COUNT(*) FROM yelp_users) * 100, 3)
                FROM yelp_users
                WHERE fans >= (
                SELECT ROUND(AVG(fans), 2) AS avg_fans
                FROM yelp_users
                )
                UNION
                SELECT 'Elite Users', COUNT(user_id), ROUND(COUNT(user_id) / (SELECT COUNT(*) FROM yelp_users) * 100, 3)
                FROM yelp_users
                WHERE elite != ''
                UNION
                SELECT 'New Users', COUNT(user_id), ROUND(COUNT(user_id) / (SELECT COUNT(*) FROM yelp_users) * 100, 3)
                FROM yelp_users
                WHERE EXTRACT(year from yelping_since) >= 2021
                ORDER BY 2 DESC
                ;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 33: User Engagement Funnel</span>').set_table_styles(styles))

fig = go.Figure(go.Funnel(
    y=df['USER_TYPE'].values,
    x=df['NUMBER_OF_USERS'].values,
    textinfo='value+percent initial',
    marker= {
        'color': ['#1f77b4','#ff7f0e','#2ca02c','#d62728','#9467bd','#8c564b', '#e377c2']
        },
    textfont={'color': 'black', 'size': 14},
    textposition='outside'
    )
)
fig.update_layout(title_text='Figure 11: User Engagement Funnel')
fig.show()

### Most Active Reviewers

In [55]:
# Users with the most reviews
df = cur.execute('''
                SELECT
                    yu.user_id,
                    yu.fans,
                    COUNT(yr.review_id) AS reviews_written,
                    ROUND(AVG(yr.stars), 2) AS avg_rating,
                    SUM(yr.useful_votes) AS total_useful_votes,
                    ROUND(AVG(yr.useful_votes), 2) AS avg_useful_votes
                FROM yelp_users yu
                JOIN yelp_reviews yr
                    ON yu.user_id = yr.user_id
                GROUP BY yu.user_id, yu.fans
                ORDER BY COUNT(yr.review_id) DESC
                LIMIT 15;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 34: Most Active Reviewers</span>').set_table_styles(styles))

### Most Helpful Reviewers (Min 100 Reviews)

In [56]:
# Users with the most useful votes per review (min 100 reviews)
df = cur.execute('''
                SELECT
                    yu.user_id,
                    yu.fans,
                    COUNT(yr.review_id) AS reviews_written,
                    ROUND(AVG(yr.stars), 2) AS avg_rating,
                    SUM(yr.useful_votes) AS total_useful_votes,
                    ROUND(AVG(yr.useful_votes), 2) AS avg_useful_votes
                FROM yelp_users yu
                JOIN yelp_reviews yr
                    ON yu.user_id = yr.user_id
                GROUP BY yu.user_id, yu.fans
                HAVING COUNT(yr.review_id) >= 100
                ORDER BY ROUND(AVG(yr.useful_votes), 2) DESC
                LIMIT 15;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 35: Most Helpful Reviewers (Min 100 Reviews)</span>').set_table_styles(styles))

## Comparative User Metrics

### Review Metrics: Elite vs. Non-Elite Users

In [57]:
# Comparing elite and non-elite user reviews
df = cur.execute('''
                WITH review_stats AS (
                    SELECT 
                        IFF(LENGTH(elite) > 0, 'Elite', 'Regular') AS user_status,
                        yr.stars,
                        yr.useful_votes,
                        yr.funny_votes,
                        yr.cool_votes,
                        yr.user_review
                    FROM yelp_users yu
                    JOIN yelp_reviews yr
                        ON yu.user_id = yr.user_id
                )
                SELECT 
                    user_status,
                    ROUND(AVG(stars), 2) AS avg_rating,
                    ROUND(AVG(useful_votes), 2) AS avg_useful_votes,
                    ROUND(AVG(funny_votes), 2) AS avg_funny_votes,
                    ROUND(AVG(cool_votes), 2) AS avg_cool_votes,
                    ROUND(AVG(LENGTH(user_review)), 2) AS avg_review_length,
                    COUNT(*) AS total_reviews
                FROM review_stats
                GROUP BY user_status;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 36: Elite vs. Non-Elite User Review Metrics</span>').set_table_styles(styles))

### Review Engagement & Metrics by Star Rating

In [58]:
# Comparing engagement on reviews of each star value
df = cur.execute('''
                WITH review_stats AS (
                    SELECT 
                        CASE
                            WHEN stars = 1 THEN '1 Star'
                            WHEN stars = 2 THEN '2 Star'
                            WHEN stars = 3 THEN '3 Star'
                            WHEN stars = 4 THEN '4 Star'
                            ELSE '5 Star'
                        END AS rating,
                        yr.stars,
                        yr.useful_votes,
                        yr.funny_votes,
                        yr.cool_votes,
                        yr.user_review
                    FROM yelp_reviews yr
                )
                SELECT 
                    rating,
                    ROUND(AVG(useful_votes), 2) AS avg_useful_votes,
                    ROUND(AVG(funny_votes), 2) AS avg_funny_votes,
                    ROUND(AVG(cool_votes), 2) AS avg_cool_votes,
                    COUNT(*) AS total_reviews,
                    ROUND(AVG(LENGTH(user_review)), 2) AS avg_review_length
                FROM review_stats
                GROUP BY rating
                ORDER BY rating
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 37: Review Metrics by Star Rating</span>').set_table_styles(styles))

### Elite-Only Analysis

In [60]:
# Exploring stats for elite users
df = cur.execute('''
                WITH review_stats AS (
                    SELECT 
                        yu.user_id,
                        yu.elite,
                        yr.stars,
                        yr.useful_votes,
                        yr.funny_votes,
                        yr.cool_votes,
                        yr.user_review,
                        yu.fans,
                        yu.yelping_since
                    FROM yelp_users yu
                    JOIN yelp_reviews yr
                        ON yu.user_id = yr.user_id
                    WHERE elite != ''
                )
                SELECT 
                    user_id,
                    elite,
                    fans,
                    ROUND((CURRENT_DATE - yelping_since) / 365, 2) AS account_age_yrs,
                    ROUND(AVG(stars), 2) AS avg_rating,
                    ROUND(AVG(useful_votes), 2) AS avg_useful_votes,
                    ROUND(AVG(funny_votes), 2) AS avg_funny_votes,
                    ROUND(AVG(cool_votes), 2) AS avg_cool_votes,
                    ROUND(AVG(LENGTH(user_review)), 2) AS avg_review_length,
                    COUNT(*) AS total_reviews
                FROM review_stats
                GROUP BY user_id, elite, fans, yelping_since;
                 ''').fetch_pandas_all()

# Handle the unnecessary comma in the middle of 2020 and count the years a user has been elite and drop the column with each elite year
df['ELITE_YEARS'] = df['ELITE'].str.replace('20,20', '2020', regex=True).str.split(',').str.len()

df.drop(labels='ELITE', axis=1, inplace=True)

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.head(15).style.set_caption('<span style="font-size: 20px;">Table 38: Elite Users Metrics</span>').set_table_styles(styles))

# TODO: find if elite status is correlated with any statistics

### Review Engagement & Metrics of Users in the High-fan vs. Low-fan Groups

In [61]:
# Comparing impact of number of fans on review engagement and star rating
df = cur.execute('''
                WITH fan_grouping AS (
                SELECT 
                    yu.user_id,
                    fans,
                    yr.stars,
                    yr.useful_votes,
                    yr.funny_votes,
                    yr.cool_votes,
                    yr.user_review,
                    yr.review_id,
                    CASE
                        WHEN fans > (SELECT MEDIAN(fans) FROM yelp_users) THEN 'High'
                        ELSE 'Low'
                    END AS fan_group
                FROM yelp_users yu
                JOIN yelp_reviews yr
                    ON yu.user_id = yr.user_id
                )
                SELECT 
                    fan_group,
                    ROUND(AVG(stars), 2) AS avg_rating,
                    ROUND(AVG(useful_votes), 2) AS avg_useful_votes,
                    ROUND(AVG(funny_votes), 2) AS avg_funny_votes,
                    ROUND(AVG(cool_votes), 2) AS avg_cool_votes,
                    ROUND(AVG(LENGTH(user_review)), 2) AS avg_review_length,
                    COUNT(*) AS total_reviews
                FROM fan_grouping
                GROUP BY fan_group;
                 ''').fetch_pandas_all()

styles = [{
    'selector': 'caption', 'props': 'text-align: left;'
}]

display(df.style.set_caption('<span style="font-size: 20px;">Table 39: Review Engagement for Fan Groups</span>').set_table_styles(styles))

## Conclusion & Next Steps